* {
    margin:0;
    padding:0;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

html.lenis {
    height: auto;
  }
  
.lenis.lenis-smooth {
scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
overscroll-behavior: contain;
}

.lenis.lenis-stopped {
overflow: hidden;
}

::-webkit-scrollbar {
    width:0;
}

body {
    background:#111;
    color:white;
    font-family: 'Inter', sans-serif;
    overflow-x:hidden;
}

.cursor {
    position:absolute;
    top:0;
    left:0;
    width:2vw;
    aspect-ratio: 1/1;
    border-radius:100%;
    background-color: white;
    transform:translate(-50%, -50%);
    pointer-events: none;
    transition: opacity 0.2s ease-in-out, width 0.5s ease, background 0.2s ease-in-out;
    z-index:10;
    font-size:1vw;
    color:black;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navbar {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:15vh;
    z-index:10;
    transition: background 0.3s ease-in-out;
}

.navbar img {
    width:8vw;
}

.navbar ul {
    width:90%;
    padding:0 5%;
    height:15vh;
    display:flex;
    gap:5vw;
    list-style: none;
    align-items: center;
}

.navbar ul li a {
    text-decoration: none;
    color:white;
    cursor:pointer;
}

.hero {
    width:100%;
    height:100vh;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url('team-bg.jpg');
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    gap:3vh;
}

.hero h1 {
    font-size:3.5vw;
    font-weight:300;
    text-transform:uppercase;
    width:80%;
    margin-top:5vh;
}

.hero a {
    display:block;
    padding:1vh 1vw;
    text-decoration: none;
    color:white;
    font-weight:300;
    border-radius:1000px;
    border:2px solid white;
    text-transform:uppercase;
    transition: color 0.2s ease-in-out, background 0.2s ease-out;
}

.hero a:hover {
    background: white;
    color:black;
    transition: color 0.2s ease-in-out, background 0.2s ease-out;
}

.team {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap:2vw;
    grid-row-gap:5vh;
    width:90%;
    padding: 5vh 5vw;
}

.team img {
    width:100%;
    height:70vh;
    object-fit: cover;
}

.content h1 {
    padding-left:5vw;
    padding-top:10vh;
    text-transform: uppercase;
    font-size:3vw;
}

.join {
    width:100%;
    height:50vh;
    padding:15vh 0;
    padding-bottom:20vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.join h1 {
    font-size:6vw;
    line-height:0.9;
    font-weight:300;
    text-align: center;
    margin-bottom:7vh;
}

.join span {
    font-family: "Playfair Display", sans-serif;
    text-transform:italic;
}

.join a {
    display:block;
    padding:3vh 0;
    border-top:2px solid #444;
    width:100%;
    text-decoration: none;
    color:white;
    font-size:2vw;
}

.join a div {
    width:80%;
    padding-left:10%;
    display:flex;
    justify-content: space-between;
}

.join a img {
    height:2vw;
}

.footer {
    width:80%;
    height:60vh;
    padding:0 10%;
    padding-top:5vh;
    background:#7C74C7;
    overflow: hidden;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:3vh;
}

.footer > div {
    display:flex;
    gap:3vw;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer h2 {
    font-weight:300;
    font-size:3vw;
}

.footer h1 {
    font-weight:200;
    font-size:20vw;
    transform:translateY(8vh);
    line-height:0.7;
}

.join a:hover {
    background: #7C74C7;
    transition:background 0.2s ease-in-out;
}

.join a {
    transition:background 0.2s ease-in-out;
}